*{
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body{
  margin: 0;
  padding:0;
}
.section3{
  text-align: center;
}
.image_container{
  display: flex;
  justify-content: center;
}
.subContainer1 img{
  width: 30rem;
  height: 25rem;
  margin: 10px;
  border-radius: 0 10px 10px 10px;
  box-shadow: 10px 10px 10px 	#E0E0E0;
}
.subContainer3 img{
  width: 30rem;
  height: 25rem;
  margin: 10px;
  border-radius: 10px 10px 0 10px;
  box-shadow: 10px 10px 10px 	#E0E0E0;
}
.row_images img{
  width: 13rem;
  height:11.8rem;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 10px 10px 10px 	#E0E0E0;
}
